@import '../../../../Mixin&Variables/Mixins.scss';
$grayColor: rgb(146, 146, 146);

.dealsOfTheDay {
    background-image: url('https://images.unsplash.com/photo-1533113354171-490d836238e3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include flex(center , null , null);
    padding: 5rem 3rem;
    margin-bottom: 2rem;

    .dealsTime {
        @include flex(center , column , center);
        color: #fff;
        @include small {
            margin-bottom: 1rem !important;
        }
        @include large {
            padding-right: 2rem;
        }
        text-align: center;
        h1{
            font-size: 40px;
        }
        p{
            font-size: 35px;
            margin: 0;
        }
    }

    .dealsProducts {
        @include small {
            margin: 0 auto;
        }
        div.deals{
            @include flex(center , row , space-between);
            position: relative;
            button.beforeBtn, button.nextBtn {
                background-color: rgb(243, 243, 243);
                border-radius: 50%;
                color: $grayColor;
                padding: 0.5rem;
                border: none;
                cursor: pointer;
                margin: 0 .3rem;
                outline: none;
                box-shadow: 0px 0px 3px 1px #ccc;
                position: absolute;
                z-index: 10;
                transition: .3s;
                &:hover {
                    background-color: rgba(255,255,255,100%);
                }
            }
            button.beforeBtn {
                left: -24px;
            }
            button.nextBtn {
                right: -24px;
            }
        }
        
    }
}