$grayColor: rgb(146, 146, 146);

.checkoutPayment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 16px -2px rgb(187 187 187 / 75%);
    margin-left: 2rem;
    padding: 2rem 1.5rem;
    flex: .2;
    border-radius: 10px;

    h1{
        margin: 0;
    }

    form{
        small{
            color: $grayColor;
        }
        .paymentMethod {
            margin: 2rem 0;
        }

        .nameOnCard, .cardNumber, .cardExp, .cardCvv {
            display: flex;
            flex-direction: column;
            line-height: 1.6;
            margin: 1rem 0;
        }

        .privacyCardInfo {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            input{
                border: none;
                outline: none;
                background-color: transparent;
            }
            .cardExp {
                input {
                    width: 80%;
                }
            }
            .cardCvv {
                input {
                    width: 50%;
                }
            }
        }

        button.checkoutBtn {
            border: none;
            outline: none;
            padding: 0.8rem 0;
            display: block;
            width: 80%;
            background-color: #492BBE;
            &:hover{
                background-color: rgba($color: #492BBE, $alpha: 0.9);
            }
            color: #fff;
            border-radius: 10px;
            margin: 3rem auto 0 auto;
            cursor: pointer;
        }
    }
}