@import '../../../../Mixin&Variables/Mixins.scss';

.slider {
  @include flex(null , row , center);
  // align-items: center;
  height: 85vh;
  @include medium {
    height: 90vh;
  }
  @include extra-small{
    height: 450px
  };
  overflow: hidden;
}

.slider-wrapper {
  display: flex;
  justify-content: center;
}

.slide-wrapper {
  @include small {
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.55);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    border-radius: 0.5rem;
  }
 
}

.slide {
  position: relative;
  display: inline-table;
  background-position: right !important ;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  padding: 5rem;
  border-radius: 0.5rem;
  // width: 1200px;
  height: 95%;
  margin: 0 1rem;
  width: 90%;

  .content {
    @include flex(flex-start, column, center);
    width: 50%;
    height: 100%;
    @include small {
      justify-content: flex-start;
      margin-top: 3rem;
      margin-left: 2rem;
      width: unset;
      height: unset;
    }
    @include extra-small {
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      width: 95%;
      height: 95%
    }
    h1 {
      font-weight: normal !important;
      color: #fff;
    }
    p {
      color: rgba(255, 255, 255, 70%);
      font-size: 14px;
      line-height: 2;
    }
    button {
      border: none;
      background-color: #fff;
      padding: 1.2rem 3rem;
      font-weight: bold;
      cursor: pointer;
      transition: 0.2s ease-in-out;
      &:hover {
        background-color: rgba(255, 255, 255, 80%);
      }
      &:focus {
        outline: none;
      }
    }
  }
}
