$grayColor: rgb(146, 146, 146);
@import '../../Mixin&Variables/Mixins.scss';

.nav {
  width: 90%;
  @include flex(center , row , space-evenly);
  margin: 1.5rem auto;
}

.navLogo {
  width: 150px;
}

.navMenu {
  width: 100px;
  svg {
    cursor: pointer;
  }
}

.navSearch {
  flex: 1;
  @include flex(center, row, null);
  background-color: #fff;
  padding: 1rem 2rem;
  color: $grayColor;
  input {
    width: 100%;
    border: none;
    color: $grayColor;
    &:focus {
      outline: none;
    }
  }
}

.navSearchIcon {
  @include flex(center, row, null);
  cursor: pointer;
}

.navBasket {
  @include flex(center, row, center);
  padding: 0.5rem 0.8rem;
  width: 100px;
  svg {
    cursor: pointer;
    position: relative;
  }
}

.navRegister {
  @include flex(center, row, null);
  span {
    cursor: pointer;
    margin: 0.5rem;
  }
  color: $grayColor;
}
